html {
  background-color: #282c34;
  color: white;
  width: 100%;
}

.header {
 margin-bottom: 100px;
 font-size: 1.5rem;
 margin-left: 40vw;
 
}

#subject-main {
  display: inline-block;
  /* margin-left: 50%; */
}

#subject-inital {
  display: inline-block;
  margin-left: 30vw;
  font-size: 2.5rem;
  color: hsla(39, 93%, 47%, 0.692);
}

.subject {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subject-box {
  margin-left: 50px;
}

#subject-name {
  font-size: 1.5rem;
}

textarea {
  width: 80vw;
  height: 10vh;
  border: 1px solid black;
  font-size: 2rem;
}

input{
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #00000027;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1vh;
}